$blue-primary: #0079BF;
$blue-secondary: #0067A3;
$white: #FFFFFF;
$list-bg: #EBECF0;
$add-card-text: #5E6C84;
$black: #000000;
$select-task: #DEDEDE;

$tasklist-width: calc((100vw - 19px - 16px - (24px * 3)) / 4);
$select-span-width-desktop: calc($tasklist-width - 24px - 10px - 18px - 5px);
$select-span-width-mobile: calc(100vw - 56px - 10px - 18px - 5px);